<h1 id="introduction" class="unnumbered">Introduction</h1>
<p>This document describes how I completed assignment 2. The images can be found at <a href="http://www.mckerley.com/gmu/cs682/a2" class="uri">http://www.mckerley.com/gmu/cs682/a2</a>. Username = cs682. Password = InteriorsDislikesBillowy969.</p>
<p>I ran my code on Linux (Ubuntu 16.04.02) on a laptop with an Intel i7. I used Python 3.5.2, and OpenCV 3.1.0. I should note that I used Python Virtual Environments, which allows you to set up a custom Python environment for a particular set of libraries and version of Python. To do that I used this page:</p>
<p><a href="http://www.pyimagesearch.com/2015/07/20/install-opencv-3-0-and-python-3-4-on-ubuntu/" class="uri">http://www.pyimagesearch.com/2015/07/20/install-opencv-3-0-and-python-3-4-on-ubuntu/</a></p>
<p>The upshot is that I <strong>import cv2</strong> in my assignment code, which may not work outside of a virtual environment, but it should be easy to fix you need to run the code.</p>
<p>The source files included are cs682_a2_McKerley.py, and bresenham.py. The former is the main assignment, and the latter is my implementation of the Bresenham algorithm as a separate module.</p>
<p>The images I picked were</p>
<ol>
<li><p><a href="ST2MainHall4028/index.html">ST2MainHall4028.jpg</a></p></li>
<li><p><a href="ST2MainHall4035/index.html">ST2MainHall4035.jpg</a></p></li>
<li><p><a href="ST2MainHall4040/index.html">ST2MainHall4040.jpg</a></p></li>
<li><p><a href="ST2MainHall4045/index.html">ST2MainHall4045.jpg</a></p></li>
<li><p><a href="ST2MainHall4048/index.html">ST2MainHall4048.jpg</a></p></li>
</ol>
<p>They show samples from the sequence of similar pictures as the point of view moves down the hallway. I think they show some interesting effects of various features in the pictures. I will describes these in greater detail in the Results section.</p>
<p>To save on the number of images, I overlaid the filtered lines, the intersections, and the least squares best intersection on the same image. The lines are green, and the pairwise intersection are green as well. To show the least squares vanishing point, I used a thick, wider, blue circle.</p>
<h1 id="references" class="unnumbered">References</h1>
<p>I used various articles on the Internet to understand how to do some of the techniques. Here are a list of web-pages from which I took code or directly used the algorithms.</p>
<ol>
<li><p>To convert polar to cartesian coordinates: <a href="http://docs.opencv.org/3.0-beta/doc/py_tutorials/py_imgproc/py_houghlines/py_houghlines.html" class="uri">http://docs.opencv.org/3.0-beta/doc/py_tutorials/py_imgproc/py_houghlines/py_houghlines.html</a></p></li>
<li><p>To convert points to line equation, and to find line intersections: <a href="http://stackoverflow.com/questions/20677795/how-do-i-compute-the-intersection-point-of-two-lines-in-python" class="uri">http://stackoverflow.com/questions/20677795/how-do-i-compute-the-intersection-point-of-two-lines-in-python</a></p></li>
<li><p>Bresenham: <a href="https://www.cs.helsinki.fi/group/goa/mallinnus/lines/bresenh.html" class="uri">https://www.cs.helsinki.fi/group/goa/mallinnus/lines/bresenh.html</a></p></li>
<li><p>Bresenham: <a href="https://en.wikipedia.org/wiki/Bresenham&#39;s_line_algorithm" class="uri">https://en.wikipedia.org/wiki/Bresenham's_line_algorithm</a></p></li>
<li><p>Least Squares Intersection of Lines. Johannes Traa. UIUC 2013.</p></li>
<li><p><a href="https://en.wikipedia.org/wiki/Line-line_intersection#In_two_dimensions_2" class="uri">https://en.wikipedia.org/wiki/Line-line_intersection#In_two_dimensions_2</a></p></li>
</ol>
<h1 id="canny-edge-detection" class="unnumbered">Canny Edge Detection</h1>
<p>I found the thresholds for the call to Canny largely through trial and error. For the thresholds I picked for hysteresis thresholding were 90 and 200. I found that these gave enough edges to work with for the pictures I was doing. Making the thresholds more restrictive allowed the strong painted line on the left side of the hallway to dominate the vanishing point; while making them less restrictive cluttered the image with too many edges, making a lot of random lines show up. I left the default Sobel aperture as 3. Making it 5 again filled the image with too much noise, even when setting the hysteresis parameters much higher. For each picture the web-page has a set of samples of the effect of using these thresholds, as well as the effect of using my preferred thresholds.</p>
<h1 id="standard-hough-transform" class="unnumbered">Standard Hough Transform</h1>
<p>As with the Canny function, I picked parameters based on experimentation. For testing tFor Hough I picked a threshold value of 170. I used images with the lines and intersections already overlaid to help tune the Hough parameters. I also produced images showing a looser parameter parameter, 100, and a tighter parameter, 300. In both cases this led to the least squares vanishing point frequently being misplaced, due either to too many lines or to few (in some cases of the tighter parameter no lines appeared at all.)</p>
<p>In the case of the Hough Rho accuracy and Theta accuracy, I picked 1 and <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mi>π</mi><mo>/</mo><mn>360</mn></mrow><annotation encoding="application/x-tex">\pi/360</annotation></semantics></math>, respectively. I did not experiment with these values too much, since they seemed to make sense intuitively.</p>
<p>In the web-pages with the images, I compared the three parameter choices side-by-side for comparison purposes.</p>
<h1 id="probabilistic-hough-transform" class="unnumbered">Probabilistic Hough Transform</h1>
<p>The parameters to tune are threshold, min_line_length, and max_line_gap. I found that a lower threshold than I used for standard Hough worked better for Probablistic Hough. The tradeoffs are similar. Make the likelihood of finding lines too high and you get a lot of noise; make it too low and you get too few lines, dominated by a single feature.</p>
<p>I compared to sets of parameters for pHough: one tighter and one looser. For the tighter ones, I set threshold=100, minLineLength=200, maxLineGap=10; for the looser ones, threshold=50, minLineLength=100, maxLineGap=5. It is clear from examining the pictures, that the looser parameters get more, small, lines that the tighter one misses. Many of them make it through the filtering step as well. The final result, measured by the location of the least squares vanishing point, are similar.</p>
<p>For each image, I placed the corresponding images for each step, and with different parameters, beside each other, for easier comparison.</p>
<h1 id="filtering" class="unnumbered">Filtering</h1>
<p>I used the following filtering technique:</p>
<ol>
<li><p>Discard horizontal and vertical lines. I did this because very few contribute to the vanishing point, and a preponderance of them on one side of the picture or another would skew the least-squares vanishing point in that direction.</p></li>
<li><p>Use Bresenham algorithm, and the Sobel gradients, to determine if the line is orthoganal to each pixel, within <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mo stretchy="false" form="prefix">|</mo><mi>π</mi><mo>/</mo><mn>4</mn><mo stretchy="false" form="postfix">|</mo></mrow><annotation encoding="application/x-tex">\lvert\pi/4\rvert</annotation></semantics></math>.</p></li>
<li><p>Only keep lines whose percent of valid pixels is greater than <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mn>5</mn><mo>%</mo></mrow><annotation encoding="application/x-tex">5\%</annotation></semantics></math>.</p></li>
</ol>
<h1 id="vanishing-points" class="unnumbered">Vanishing Points</h1>
<p>I plotted the vanishing points on an image from the image with the lines they are associated with. I used a matrix technique from [2] in the references.</p>
<p>We convert the 2 lines end-points to line equations,</p>
<p><math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><msub><mi>A</mi><mn>1</mn></msub><mi>x</mi><mo>+</mo><msub><mi>B</mi><mn>1</mn></msub><mi>y</mi><mo>+</mo><msub><mi>C</mi><mn>1</mn></msub><mo>=</mo><mn>0</mn></mrow><annotation encoding="application/x-tex">A_1x + B_1y + C_1 = 0</annotation></semantics></math></p>
<p><math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><msub><mi>A</mi><mn>2</mn></msub><mi>x</mi><mo>+</mo><msub><mi>B</mi><mn>2</mn></msub><mi>y</mi><mo>+</mo><msub><mi>C</mi><mn>2</mn></msub><mo>=</mo><mn>0</mn></mrow><annotation encoding="application/x-tex">A_2x + B_2y + C_2 = 0</annotation></semantics></math></p>
<p>and calculate the intersection <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mo stretchy="false" form="prefix">(</mo><mi>x</mi><mo>,</mo><mi>y</mi><mo stretchy="false" form="postfix">)</mo></mrow><annotation encoding="application/x-tex">(x,y)</annotation></semantics></math> like this,</p>
<p><math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mi>D</mi><mo>=</mo><msub><mi>A</mi><mn>1</mn></msub><mo>*</mo><msub><mi>B</mi><mn>2</mn></msub><mo>−</mo><msub><mi>B</mi><mn>1</mn></msub><mo>*</mo><msub><mi>A</mi><mn>2</mn></msub></mrow><annotation encoding="application/x-tex">D  = A_1 * B_2 - B_1 * A_2</annotation></semantics></math></p>
<p><math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mi>D</mi><mi>x</mi><mo>=</mo><msub><mi>C</mi><mn>1</mn></msub><mo>*</mo><msub><mi>B</mi><mn>2</mn></msub><mo>−</mo><msub><mi>B</mi><mn>1</mn></msub><mo>*</mo><msub><mi>C</mi><mn>2</mn></msub></mrow><annotation encoding="application/x-tex">Dx = C_1 * B_2 - B_1 * C_2</annotation></semantics></math></p>
<p><math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mi>D</mi><mi>y</mi><mo>=</mo><msub><mi>A</mi><mn>1</mn></msub><mo>*</mo><msub><mi>C</mi><mn>2</mn></msub><mo>−</mo><msub><mi>C</mi><mn>1</mn></msub><mo>*</mo><msub><mi>A</mi><mn>2</mn></msub></mrow><annotation encoding="application/x-tex">Dy = A_1 * C_2 - C_1 * A_2</annotation></semantics></math></p>
<p><math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mi>x</mi><mo>=</mo><msub><mi>D</mi><mi>x</mi></msub><mo>/</mo><mi>D</mi></mrow><annotation encoding="application/x-tex">x = D_x / D</annotation></semantics></math></p>
<p><math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mi>y</mi><mo>=</mo><msub><mi>D</mi><mi>y</mi></msub><mo>/</mo><mi>D</mi></mrow><annotation encoding="application/x-tex">y = D_y / D</annotation></semantics></math></p>
<p>I calculated the average of all the intersections that are in the image and used those as the vanishing point. They are represented by a magenta circle on the vanishing point image.</p>
<h1 id="least-squares-vanishing-point" class="unnumbered">Least Squares Vanishing Point</h1>
<p>I spent a lot of time trying to figure out how to do this, but in the end it was pretty easy.</p>
<p>For each line I expressed it as a line equation in the form</p>
<p><math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mi>A</mi><mi>x</mi><mo>+</mo><mi>B</mi><mi>y</mi><mo>+</mo><mi>C</mi><mo>=</mo><mn>0</mn></mrow><annotation encoding="application/x-tex">Ax + By + C = 0</annotation></semantics></math></p>
<p>I then used a numpy matrix with the <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mo stretchy="false" form="prefix">[</mo><mi>A</mi><mo>,</mo><mi>B</mi><mo stretchy="false" form="postfix">]</mo></mrow><annotation encoding="application/x-tex">[A, B]</annotation></semantics></math> values, and another with the <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mi>C</mi><annotation encoding="application/x-tex">C</annotation></semantics></math> values, and used numpy.linalg.lstsq() to solve it.</p>
<p>So basically, I found the <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mo stretchy="false" form="prefix">(</mo><mi>x</mi><mo>,</mo><mi>y</mi><mo stretchy="false" form="postfix">)</mo></mrow><annotation encoding="application/x-tex">(x,y)</annotation></semantics></math> point for which the least sqaured error to each line was minimized.</p>
<p>I also added some logic to iteratively remove the farthest line from the vanishing point, until the change in the point was less than one pixel, or I had removed <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><semantics><mrow><mn>1</mn><mo>/</mo><mn>6</mn></mrow><annotation encoding="application/x-tex">1/6</annotation></semantics></math> of the lines, whichever came first. This seemed to help somewhat in finding a better vanishing point.</p>
<p>The results are plotted on the line images with a large blue circle.</p>
<h1 id="results" class="unnumbered">Results</h1>
<p>The techniques used seemed to give pretty good locations for the least-squared vanishing points, at least they seem to be visualy plausible. I found the results to be a little better for the probablistic Hough lines over the standard Hough transform. In addition, the probablistic Hough lines algorithm is significantly faster than the standard, which make it preferrable.</p>
<p>The pictures I choose showed some interesting results of various specific features in the hallway, specifically the bulletin boards on the left-hand wall, the diagonal, red, stripe painted on the wall, and the presence in some pictures of people.</p>
<p>In the first picture, ST2MainHall4028.jpg, the lines from the bulletin boards and the hallway baseboards dominate the scene. There are people, but they do not contribute much or interfere with the lines. The least squares vanishing points for both Hough and probabilistic Hough are pretty good; perhaps a little low.</p>
<p>In the next three pictures, ST2MainHall4035.jpg, ST2MainHall4040.jpg, ST2MainHall4045.jpg, as the camera moves forward, the red stripe has a more dominate effect, and its lines tend to displace the least squares vanishing points to the right and up.</p>
<p>In the final picture, ST2MainHall4048.jpg the bulletin boards again diminish the effect of the red stripe, and the vanishing point again centered much better.</p>
<p>The presence of people in the picture do not appear to have much overall effect on the least-squares vanishing point.</p>
