<h1 id="introduction" class="unnumbered">Introduction</h1>
<p>This document describes how I completed assignment 4. The HTML version can be found at <a href="http://www.mckerley.com/gmu/cs682/a4/index.html" class="uri">http://www.mckerley.com/gmu/cs682/a4/index.html</a>. Username = cs682. Password = InteriorsDislikesBillowy969.</p>
<p>The pdf version of this assignment is more readable, and can be found at <a href="http://www.mckerley.com/gmu/cs682/a4/CS682_HW4_McKerley.pdf" class="uri">http://www.mckerley.com/gmu/cs682/a4/CS682_HW4_McKerley.pdf</a>.</p>
<p>I ran my code on Linux (Ubuntu 16.04.02) on a laptop with an Intel i7. I used Python 3.5.2, and OpenCV 3.2.0. I should note that I used Python Virtual Environments, which allows you to set up a custom Python environment for a particular set of libraries and version of Python. To do that I used this page:</p>
<p><a href="http://www.pyimagesearch.com/2015/07/20/install-opencv-3-0-and-python-3-4-on-ubuntu/" class="uri">http://www.pyimagesearch.com/2015/07/20/install-opencv-3-0-and-python-3-4-on-ubuntu/</a></p>
<p>The upshot is that I <strong>import cv2</strong> in my assignment code, which may not work outside of a virtual environment, but it should be easy to fix you need to run the code.</p>
<p>The source file included is a4.py <a href="http://www.mckerley.com/gmu/cs682/a4/a4.py" class="uri">http://www.mckerley.com/gmu/cs682/a4/a4.py</a>. It has several options:</p>
<pre><code>usage: a4.py [-h] [--files FILES] [--orb_nfeatures ORB_NFEATURES]
             [--match_distance MATCH_DISTANCE] [--write] [--merge_forward]
             [--compare] [--weighted_blending] [--scale F]

optional arguments:
  -h, --help            show this help message and exit
  --files FILES, -f FILES
                        Image files to process.
  --orb_nfeatures ORB_NFEATURES
                        Number of features for ORB to attempt to find.
  --match_distance MATCH_DISTANCE
                        Maximum distance to allow between ORB features.
  --write, -w           Write images to file instead of displaying them.
  --merge_forward       Merge previous images into new one. Otherwise do the
                        reverse.
  --compare             Compare two images with each other. If false will
                        merge a series of two or more images.
  --weighted_blending   Reduce alpha while blending so each image is equally
                        represented in final image. Otherwise blend equally.
  --scale F, -s F       Scale frame by F before displaying or writing.</code></pre>
<h1 id="references" class="unnumbered">References</h1>
<p>I used various articles on the Internet to understand how to do some of the techniques. I think they were all specifically OpenCV documentation or tutorials, so I won’t list them all here.</p>
<h1 id="find-and-match-features-in-pairs-of-images" class="unnumbered">Find and match features in pairs of images</h1>
<p>I used ORB features and brute-force matching. I typically passed an argument of 5000 as the number of features for ORB to find, and kept matches with a distance of 20 or less. Below are three samples.</p>
<p><img src="IMG_1188_to_IMG_1189_matches.png" title="fig:" alt="Matches between IMG_1188.JPG and IMG_1189.JPG" width="680" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1188_to_IMG_1189_matches.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1188_to_IMG_1189_matches.png</a> [fig:IMG_1188_to_IMG_1189_matches]</p>
<p><img src="IMG_1200_to_IMG_1201_matches.png" title="fig:" alt="Matches between IMG_1200.JPG and IMG_1201JPG" width="680" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1200_to_IMG_1201_matches.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1200_to_IMG_1201_matches.png</a> [fig:IMG_1200_to_IMG_1201_matches]</p>
<p><img src="IMG_1217_to_IMG_1218_matches.png" title="fig:" alt="Matches between IMG_1217.JPG and IMG_1218JPG" width="680" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1217_to_IMG_1218_matches.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1217_to_IMG_1218_matches.png</a> [fig:IMG_1217_to_IMG_1218_matches]</p>
<h1 id="compute-a-transformation-between-image-pairs" class="unnumbered">Compute a transformation between image pairs</h1>
<p>To compute the affine transformations, I initially tried using <strong>estimateAffine2D()</strong>, but I could never get anything back besides</p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%201%20%26%200%20%26%200%20%5C%5C%0A%20%20%20%200%20%26%201%20%26%200%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    1 &amp; 0 &amp; 0 \\
    0 &amp; 1 &amp; 0 \\
\end{bmatrix}" title="\begin{bmatrix}
    1 &amp; 0 &amp; 0 \\
    0 &amp; 1 &amp; 0 \\
\end{bmatrix}" /><br />,</p>
<p>or something close to that, given floating point imprecision. I tried both supported methods (RANSAC and LMEDS), and the tried many different values for ransacReprojThreshold, maxIters, confidence, and refineIters parameters. None seemed to make any difference. I also loosened my matching threshold, varying it so that features with a distance of up to 100 (instead of 20) were allowed. This had no effect either. I must have been doing something wrong, but I couldn’t figure out what it was.</p>
<p>Fortunately, I found that <strong>estimateRigidTransform()</strong> worked. The only parameter you can vary for that function is whether to make an affine transformation or not. Since that should be true, I only generated one affine transformation for image pair.</p>
<p>For the homography I used <strong>cv2.findHomography()</strong>. I tried several methods, (0, RANSAC, LMEDS) and options and found RANSAC with default options to be suitable. LMEDS seemed to perform as well as RANSAC. The transformation matrices and I chose (RANSAC with default parameters) are described a little further down. Here are some example of choices that were either worse, or no better. I’m showing the images 1188 and 1189 merged together. This gives you a better idea of the quality of the homograpy.</p>
<p><strong>method: DEFAULT, maxIters: 2000, confidence: 0.995.</strong></p>
<p>Homography:</p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%201.0215269270294605%20%26%200.06524377571222786%20%26%20-234.40343860829105%20%5C%5C%0A%20%20%20%20-0.00524867883454504%20%26%201.058179089432277%20%26%20-14.521670812207288%20%5C%5C%0A%20%20%20%200.0%20%26%200.0%20%26%200.9999999999999999%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    1.0215269270294605 &amp; 0.06524377571222786 &amp; -234.40343860829105 \\
    -0.00524867883454504 &amp; 1.058179089432277 &amp; -14.521670812207288 \\
    0.0 &amp; 0.0 &amp; 0.9999999999999999 \\
\end{bmatrix}" title="\begin{bmatrix}
    1.0215269270294605 &amp; 0.06524377571222786 &amp; -234.40343860829105 \\
    -0.00524867883454504 &amp; 1.058179089432277 &amp; -14.521670812207288 \\
    0.0 &amp; 0.0 &amp; 0.9999999999999999 \\
\end{bmatrix}" /><br /></p>
<p>Image is figure [fig:IMG_1188-IMG_1189_0_3_2000_995_merged]. Compare to [fig:IMG_1188-IMG_1189_merged]. You can see that there is more of an offset between objects.</p>
<p><img src="IMG_1188-IMG_1189_0_3_2000_995_merged.png" title="fig:" alt="Warp from using 0 method with findHomography IMG_1188.JPG and IMG_1189.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1188-IMG_1189_0_3_2000_995_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1188-IMG_1189_0_3_2000_995_merged.png</a> [fig:IMG_1188-IMG_1189_0_3_2000_995_merged]</p>
<p><strong>method: LMEDS, maxIters: 2000, confidence: 0.995</strong></p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%200.9763016171125698%20%26%200.017036984661908856%20%26%20-181.07394154755744%20%5C%5C%0A%20%20%20%20-0.0007117006613448261%20%26%200.9952985540612589%20%26%20-3.696080477681822%20%5C%5C%0A%20%20%20%200.0%20%26%200.0%20%26%201.0%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    0.9763016171125698 &amp; 0.017036984661908856 &amp; -181.07394154755744 \\
    -0.0007117006613448261 &amp; 0.9952985540612589 &amp; -3.696080477681822 \\
    0.0 &amp; 0.0 &amp; 1.0 \\
\end{bmatrix}" title="\begin{bmatrix}
    0.9763016171125698 &amp; 0.017036984661908856 &amp; -181.07394154755744 \\
    -0.0007117006613448261 &amp; 0.9952985540612589 &amp; -3.696080477681822 \\
    0.0 &amp; 0.0 &amp; 1.0 \\
\end{bmatrix}" /><br /></p>
<p>Image is figure [fig:IMG_1188-IMG_1189_4_3_2000_995_merged]. Compare to [fig:IMG_1188-IMG_1189_merged]. It appears to be similar in quality the RANSAC method I settled on.</p>
<p><img src="IMG_1188-IMG_1189_8_1_20000_999_merged.png" title="fig:" alt="Warp from using LMEDS method IMG_1188.JPG and IMG_1189.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1188-IMG_1189_8_1_20000_999_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1188-IMG_1189_8_1_20000_999_merged.png</a> [fig:IMG_1188-IMG_1189_4_3_2000_995_merged]</p>
<p>Finally, I tried making the RANSAC do better by increasing the threshold to <img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=0.999" alt="0.999" title="0.999" />, reducing the ransacReprojThreshold, and increasing the number of iterations. This is figure [fig:IMG_1188-IMG_1189_8_1_20000_999_merged].</p>
<p><strong>method: RANSAC, ransacReprojThreshold: 1.0, maxIters: 20000, confidence: 0.999</strong></p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%200.9733700309046337%20%26%200.009846672330659858%20%26%20-176.78620725250136%20%5C%5C%0A%20%20%20%20-0.00044573690055724517%20%26%200.987179501484409%20%26%20-1.5770293731768925%20%5C%5C%0A%20%20%20%200.0%20%26%200.0%20%26%201.0%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    0.9733700309046337 &amp; 0.009846672330659858 &amp; -176.78620725250136 \\
    -0.00044573690055724517 &amp; 0.987179501484409 &amp; -1.5770293731768925 \\
    0.0 &amp; 0.0 &amp; 1.0 \\
\end{bmatrix}" title="\begin{bmatrix}
    0.9733700309046337 &amp; 0.009846672330659858 &amp; -176.78620725250136 \\
    -0.00044573690055724517 &amp; 0.987179501484409 &amp; -1.5770293731768925 \\
    0.0 &amp; 0.0 &amp; 1.0 \\
\end{bmatrix}" /><br /></p>
<p><img src="IMG_1188-IMG_1189_8_1_20000_999_merged.png" title="fig:" alt="Warp from using RANSAC method with different parameters to findHomography IMG_1188.JPG and IMG_1189.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1188-IMG_1189_8_1_20000_999_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1188-IMG_1189_8_1_20000_999_merged.png</a> [fig:IMG_1188-IMG_1189_8_1_20000_999_merged]</p>
<p>I used the homography to map the corners of the source image to their locations after the perspective change. I then made the destination image large enough to accomodate the image. I don’t think this always worked perfectly–especially when the black border around the image is too thick.</p>
<p>Below are the transformation matrices and associated images with the image pairs from the previous section.</p>
<p>The following is the affine transformation matrix produced for the images shown in figure [fig:IMG_1188_to_IMG_1189_matches]:</p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%201.0101533483775198%20%26%200.014402054074671766%20%26%20-225.2630851250445%20%5C%5C%0A%20%20%20%20-0.00020561754183182242%20%26%200.9936809413244511%20%26%20-3.189157621804782%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    1.0101533483775198 &amp; 0.014402054074671766 &amp; -225.2630851250445 \\
    -0.00020561754183182242 &amp; 0.9936809413244511 &amp; -3.189157621804782 \\
\end{bmatrix}" title="\begin{bmatrix}
    1.0101533483775198 &amp; 0.014402054074671766 &amp; -225.2630851250445 \\
    -0.00020561754183182242 &amp; 0.9936809413244511 &amp; -3.189157621804782 \\
\end{bmatrix}" /><br /></p>
<p>The corresponding image with this affine transformation applied is figure [fig:IMG_1188_to_IMG_1189_transform].</p>
<p><img src="IMG_1188_to_IMG_1189_transform.png" title="fig:" alt="Affine transformation from IMG_1188.JPG to IMG_1189.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1188_to_IMG_1189_transform.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1188_to_IMG_1189_transform.png</a> [fig:IMG_1188_to_IMG_1189_transform]</p>
<p>The following is the homography for the images shown in figure [fig:IMG_1188_to_IMG_1189_matches]:</p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%200.9825119778992074%20%26%200.025381120160505262%20%26%20-188.68352821112023%20%5C%5C%0A%20%20%20%20-0.0002992997931123141%20%26%201.0039603841713303%20%26%20-6.3809463852131065%20%5C%5C%0A%20%20%20%204.331306021856857e-07%20%26%207.05761126227902e-06%20%26%201.0%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    0.9825119778992074 &amp; 0.025381120160505262 &amp; -188.68352821112023 \\
    -0.0002992997931123141 &amp; 1.0039603841713303 &amp; -6.3809463852131065 \\
    4.331306021856857e-07 &amp; 7.05761126227902e-06 &amp; 1.0 \\
\end{bmatrix}" title="\begin{bmatrix}
    0.9825119778992074 &amp; 0.025381120160505262 &amp; -188.68352821112023 \\
    -0.0002992997931123141 &amp; 1.0039603841713303 &amp; -6.3809463852131065 \\
    4.331306021856857e-07 &amp; 7.05761126227902e-06 &amp; 1.0 \\
\end{bmatrix}" /><br /></p>
<p>The corresponding image with this perspective warp applied is figure [fig:IMG_1188_to_IMG_1189_warp].</p>
<p><img src="IMG_1188_to_IMG_1189_warp.png" title="fig:" alt="Perspective warp from IMG_1188.JPG to IMG_1189.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1188_to_IMG_1189_warp.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1188_to_IMG_1189_warp.png</a> [fig:IMG_1188_to_IMG_1189_warp]</p>
<p>The following is the affine transformation matrix produced for the images shown in figure [fig:IMG_1200_to_IMG_1201_matches]:</p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%200.9871001389203768%20%26%20-0.02018461867700312%20%26%20314.1712117693912%20%5C%5C%0A%20%20%20%200.031882735823351376%20%26%201.0058477976222715%20%26%20-26.91624239278708%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    0.9871001389203768 &amp; -0.02018461867700312 &amp; 314.1712117693912 \\
    0.031882735823351376 &amp; 1.0058477976222715 &amp; -26.91624239278708 \\
\end{bmatrix}" title="\begin{bmatrix}
    0.9871001389203768 &amp; -0.02018461867700312 &amp; 314.1712117693912 \\
    0.031882735823351376 &amp; 1.0058477976222715 &amp; -26.91624239278708 \\
\end{bmatrix}" /><br /></p>
<p>The corresponding image with this affine transformation applied is figure [fig:IMG_1200_to_IMG_1201_transform].</p>
<p><img src="IMG_1200_to_IMG_1201_transform.png" title="fig:" alt="Affine transformation from IMG_1200.JPG to IMG_1201.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1200_to_IMG_1201_transform.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1200_to_IMG_1201_transform.png</a> [fig:IMG_1200_to_IMG_1201_transform]</p>
<p>The following is the homography for the images shown in figure [fig:IMG_1200_to_IMG_1201_matches]:</p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%200.7495123059253282%20%26%20-0.016390336528820364%20%26%20431.64139096229735%20%5C%5C%0A%20%20%20%20-0.021212426868047536%20%26%200.901630007217217%20%26%2030.57143065897436%20%5C%5C%0A%20%20%20%20-9.223608734489021e-05%20%26%206.132987518144595e-07%20%26%200.9999999999999999%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    0.7495123059253282 &amp; -0.016390336528820364 &amp; 431.64139096229735 \\
    -0.021212426868047536 &amp; 0.901630007217217 &amp; 30.57143065897436 \\
    -9.223608734489021e-05 &amp; 6.132987518144595e-07 &amp; 0.9999999999999999 \\
\end{bmatrix}" title="\begin{bmatrix}
    0.7495123059253282 &amp; -0.016390336528820364 &amp; 431.64139096229735 \\
    -0.021212426868047536 &amp; 0.901630007217217 &amp; 30.57143065897436 \\
    -9.223608734489021e-05 &amp; 6.132987518144595e-07 &amp; 0.9999999999999999 \\
\end{bmatrix}" /><br /></p>
<p>The corresponding image with this perspective warp applied is figure [fig:IMG_1200_to_IMG_1201_warp].</p>
<p><img src="IMG_1200_to_IMG_1201_warp.png" title="fig:" alt="Perspective warp from IMG_1200.JPG to IMG_1201.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1200_to_IMG_1201_warp.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1200_to_IMG_1201_warp.png</a> [fig:IMG_1200_to_IMG_1201_warp]</p>
<p>The following is the affine transformation matrix produced for the images shown in figure [fig:IMG_1217_to_IMG_1218_matches]:</p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%201.0061588974875701%20%26%200.043243300754511695%20%26%20-284.47290981242406%20%5C%5C%0A%20%20%20%20-0.04334170951454268%20%26%201.0007359337992283%20%26%20-72.85147511276719%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    1.0061588974875701 &amp; 0.043243300754511695 &amp; -284.47290981242406 \\
    -0.04334170951454268 &amp; 1.0007359337992283 &amp; -72.85147511276719 \\
\end{bmatrix}" title="\begin{bmatrix}
    1.0061588974875701 &amp; 0.043243300754511695 &amp; -284.47290981242406 \\
    -0.04334170951454268 &amp; 1.0007359337992283 &amp; -72.85147511276719 \\
\end{bmatrix}" /><br /></p>
<p>The corresponding image with this affine transformation applied is figure [fig:IMG_1217_to_IMG_1218_transform].</p>
<p><img src="IMG_1217_to_IMG_1218_transform.png" title="fig:" alt="Affine transformation from IMG_1217.JPG to IMG_1218.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1217_to_IMG_1218_transform.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1217_to_IMG_1218_transform.png</a> [fig:IMG_1217_to_IMG_1218_transform]</p>
<p>The following is the homography for the images shown in figure [fig:IMG_1217_to_IMG_1218_matches]:</p>
<p><br /><img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=%5Cbegin%7Bbmatrix%7D%0A%20%20%20%201.034648058908496%20%26%200.06130103154628563%20%26%20-308.2237934267188%20%5C%5C%0A%20%20%20%20-0.043061680546842805%20%26%201.0346249004204857%20%26%20-80.83694013228074%20%5C%5C%0A%20%20%20%208.63995712450141e-06%20%26%201.877974736230924e-05%20%26%201.0%20%5C%5C%0A%5Cend%7Bbmatrix%7D" alt="\begin{bmatrix}
    1.034648058908496 &amp; 0.06130103154628563 &amp; -308.2237934267188 \\
    -0.043061680546842805 &amp; 1.0346249004204857 &amp; -80.83694013228074 \\
    8.63995712450141e-06 &amp; 1.877974736230924e-05 &amp; 1.0 \\
\end{bmatrix}" title="\begin{bmatrix}
    1.034648058908496 &amp; 0.06130103154628563 &amp; -308.2237934267188 \\
    -0.043061680546842805 &amp; 1.0346249004204857 &amp; -80.83694013228074 \\
    8.63995712450141e-06 &amp; 1.877974736230924e-05 &amp; 1.0 \\
\end{bmatrix}" /><br /></p>
<p>The corresponding image with this perspective warp applied is figure [fig:IMG_1217_to_IMG_1218_warp].</p>
<p><img src="IMG_1217_to_IMG_1218_warp.png" title="fig:" alt="Perspective warp from IMG_1217.JPG to IMG_1218.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1217_to_IMG_1218_warp.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1217_to_IMG_1218_warp.png</a> [fig:IMG_1217_to_IMG_1218_warp]</p>
<h1 id="warp-one-of-the-images-into-the-other-using-computed-homography" class="unnumbered">Warp one of the images into the other using computed homography</h1>
<p>Here are the three image pairs used so far, with the first one warped into the second.</p>
<p>The perspective warp images for the image pairs used so far are in figures [fig:IMG_1188-IMG_1189_merged], [fig:IMG_1200-IMG_1201_merged], and [fig:IMG_1217-IMG_1218_merged].</p>
<p><img src="IMG_1188-IMG_1189_merged.png" title="fig:" alt="Perspective warp from IMG_1188.JPG to IMG_1189.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1188-IMG_1189_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1188-IMG_1189_merged.png</a> [fig:IMG_1188-IMG_1189_merged]</p>
<p><img src="IMG_1200-IMG_1201_merged.png" title="fig:" alt="Perspective merged from IMG_1200.JPG to IMG_1201.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1200-IMG_1201_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1200-IMG_1201_merged.png</a> [fig:IMG_1200-IMG_1201_merged]</p>
<p><img src="IMG_1217-IMG_1218_merged.png" title="fig:" alt="Perspective merged from IMG_1217.JPG to IMG_1218.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1217-IMG_1218_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1217-IMG_1218_merged.png</a> [fig:IMG_1217-IMG_1218_merged]</p>
<h1 id="choose-a-sequence-of-5-images-compute-transformations-between-successive-pairs-and-blend-them-together" class="unnumbered">Choose a sequence of 5 images, compute transformations between successive pairs and blend them together</h1>
<p>I chose images 1209-1213 to merge in series. The method I used was to find the transformation from the previous merged image into the next image in the series. This appeared work better than doing the reverse. I also weighted the blending so that the image <img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=n" alt="n" title="n" /> would have <img style="vertical-align:middle" src="http://chart.apis.google.com/chart?cht=tx&amp;chl=1%2Fn" alt="1/n" title="1/n" /> the weight of the resulting image. I compute a resulting image that is large enough to hold the transformed images. I think though that there is some error in my calculations–the resulting images appear to get larger and larger borders that are not necessary to show the entire image. Figure [fig:IMG_1209-IMG_1213_merged] show the series of tranformation as each image is merged to the preceding series.</p>
<p><img src="IMG_1209-IMG_1210_merged.png" title="fig:" alt="Perspective merged from IMG_1209.JPG through to IMG_1213.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1209-IMG_1210_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1209-IMG_1210_merged.png</a> <img src="IMG_1209-IMG_1210-IMG_1211_merged.png" title="fig:" alt="Perspective merged from IMG_1209.JPG through to IMG_1213.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1209-IMG_1210-IMG_1211_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1209-IMG_1210-IMG_1211_merged.png</a> <img src="IMG_1209-IMG_1210-IMG_1211-IMG_1212_merged.png" title="fig:" alt="Perspective merged from IMG_1209.JPG through to IMG_1213.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1209-IMG_1210-IMG_1211-IMG_1212_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1209-IMG_1210-IMG_1211-IMG_1212_merged.png</a> <img src="IMG_1209-IMG_1210-IMG_1211-IMG_1212-IMG_1213_merged.png" title="fig:" alt="Perspective merged from IMG_1209.JPG through to IMG_1213.JPG" width="377" /> <a href="http://www.mckerley.com/gmu/cs682/a4/IMG_1209-IMG_1210-IMG_1211-IMG_1212-IMG_1213_merged.png" class="uri">http://www.mckerley.com/gmu/cs682/a4/IMG_1209-IMG_1210-IMG_1211-IMG_1212-IMG_1213_merged.png</a> [fig:IMG_1209-IMG_1213_merged]</p>
